:root {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16pt;
}

.slotto {
	color: black;
}

.s2 {
	color: green;
}

.s2-span {
	font-style: italic;
}

.label {
	color: red;
}